.gallery-item {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 0 auto;
}

.gallery-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  border: 10px solid white;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.gallery-info {
  background-color: #fff;
  padding: 10px;
  text-align: center;
}

.gallery-info h4 {
  font-weight: 100;
  margin: 0;
}

.gallery-info h3 {
  margin: 5px 0;
}

.gallery-info p {
  font-size: 0.9rem;
  line-height: 1.2;
}
